/* PREVIEW */

.previewbox {
    position: relative;
}

#preview {
    background: #182a43;
    width: 400px;
    height: 400px;
    display: block;
    margin: 4px auto;
}

.previewbox input[type='button'] {
    position: absolute;
    bottom: 0;
    width: unset;
    margin: 0;
}
.previewbox #random {
    right: 50%;
    transform: translate(-204px);
}
.previewbox #download {
    left: 50%;
    transform: translate(204px);
}

/* MENU */

.flexbox.vertical {
    flex-direction: column;
}

#logo-bg-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto) 1fr;
}
#logo-mg-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto) 1fr;
}
#logo-fg-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto) 1fr;
}

input[type='radio'] + label img {
    max-width: 40px;
    max-height: 40px;
    margin: -4px;
    filter: contrast(0) sepia(1) contrast(2);
}
input[type='radio']:checked + label img {
    filter: contrast(0) sepia(1) contrast(2) invert(1);
}

.flexbox.vertical input[type='text'] {
    width: 94px;
    min-width: calc(100% - 30px);
}

/* SWATCH */

#presets {
    height: 24px;
    margin: 4px;
    gap: 2px;
}

#presets div {
    border-radius: 4px;
    cursor: pointer;
}
