:root {
    --bg: #ccb55a;
    --fg: #314c73;
}

@font-face {
    font-family: 'Washington';
    src: url(font/WashingtonBoldDynamic.otf);
}

@font-face {
    font-family: 'Cinema';
    src: url(font/TBCinemaRGothic-M.ttf);
}

@font-face {
    font-family: 'Dodam';
    src: url(font/Typo_DodamM.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(font/RobotoCondensed-Regular.ttf);
}

body {
    background: var(--bg);
    display: flex;
}

@media all and (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media all and (orientation: portrait) {
    body {
        flex-direction: column;
    }
}

#preview {
    min-width: 400px;
    min-height: 400px;
}

#preview canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#menu {
    background: var(--fg);
    color: white;
    font-family: 'Cinema';
    font-size: 0;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    padding: 8px;
    border: 3px double var(--bg);
    border-radius: 16px;
    z-index: 1;
}

#menu > div > * {
    font-size: 24px;
    margin: 4px;
}

#menu input[type='radio'] {
    display: none;
}

#menu input + label {
    min-width: 32px;
    height: 32px;
    background: var(--fg);
    text-align: center;
    padding: 8px;
    border: 3px double var(--bg);
    border-radius: 8px;
    margin: 4px;
    display: inline-block;
    cursor: pointer;
}

#menu input:checked + label {
    background: var(--bg);
    border-color: var(--fg);
}

#menu input + label img {
    max-width: 32px;
    max-height: 32px;
}

#menu input[type='text'],
#menu input[type='file'] {
    min-width: 50%;
    background: var(--bg);
    color: var(--fg);
    font-family: 'Cinema';
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px;
    border: 3px double var(--fg);
    border-radius: 8px;
    outline: none;
    margin: 4px;
}

#menu input[type='text']:focus,
#menu input[type='file']:focus {
    background: var(--fg);
    color: var(--bg);
    border-color: var(--bg);
}

#menu input + label:hover,
#menu input:hover {
    border-color: white;
}
